[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
pycountry = "*"
pandas = "*"
currency-symbols = "*"
ipython = "*"
google-currency = "*"
tqdm = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.9"
