
{% extends "admin/base_site.html" %}
{% block content %}
<div id="content" class="colM delete-confirmation">
    <form method="post" action="/admin/my_action/">
        {% csrf_token %}
        <div>
            {% for obj in queryset %}
            <input type="hidden" name="obj_ids[]" value="{{ obj.pk }}" />
            <ul><li>Obj: ">{{obj}}</a></li></ul>
            {% endfor %}
        </div>
        <input type="submit" value="Yes, I'm sure">
        <a href="/admin/app/somemodel/" class="button cancel-link">No, take me back</a>
    </form>    
    <br class="clear">
    <div id="footer"></div>
</div>
{% endblock %}