{% extends "admin/base_site.html" %}
{% block content %}
<div id="content" class="colM delete-confirmation">
    <h2>Are you sure you want to delete this DSR and all of its contents?</h2>
    <br>
    <form action="" method="post">{% csrf_token %}
        <div>
            {% for obj in queryset %}
            <input type="hidden" name="{{ action_checkbox_name }}" value="{{ obj.pk }}" />
            {% endfor %}
            <input type="hidden" name="post" value="yes" />
            <input type="hidden" name="action" value="delete_DSR" />
            <input type="submit" value="Confirm" />
            <a href="../" class="button cancel-link">No, take me back!</a>
        </div>
    </form>
</div>
{% endblock %}